.asideNavWrapper {
    display: none;
    border-radius: 2% 2% 0 0;
}

.asideNavWrapper input,
.asideNavWrapper select {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.title {
    color: white;
    padding: 5px 0px 5px 0px;
    font-weight: 500;
}

.filterMainContainer {
    background-color: #EFEFEF;
}

.filterContent {
    padding: 0.6rem 1rem 0;
    color: #1E3E93;
    font-family: inherit;
    font-weight: 600;
    font-size: smaller;
}

.filterContent:last-child {
    padding-bottom: 0.6rem;
}

.btnSearch {
    composes: color-deep-yellow from "../../style.css";
    color: #69684A;
    padding: 1em 0;
    font-weight: 600;
}

input[type="submit"].btnSearch {
    width: 100%;
}

@media screen and (min-width:850px) {
    .asideNavWrapper {
        composes: color-deep-blue from "../../style.css";
        width: 300px;
        color: blue;
        background-color: #1c3f94;
        margin: 0px 0px 20px 0px;
        display: inline-block;
    }
    .buttonGroupEduLvl {
        display: flex;
        flex-wrap: wrap;
    }
    .buttonGroupEduLvl button:nth-child(3n+1) {
        margin-left: 0px;
    }
    .buttonGroupEduLvl button {
        margin: 5px 0px 5px 5%;
        padding: .5rem 1rem;
    }
}