.asideNavWrapper {
    display:none;
}
.title{
  color:white;
  padding: 5px 0px 5px 0px;
  font-weight: 500;
}
.filterMain{
  background-color: #EFEFEF;
}
.filterContent{
  padding: 20px 20px 10px 20px;
  color: #1E3E93;
  font-family: inherit;
  font-weight: 600;
  font-size: smaller;
}
.btnSearch{
  color:#69684A;
  background-color: #FEF200;
  padding: 10px 0px 10px 0px;
  font-weight: 600;
}
@media screen and (min-width:850px) {
    .asideNavWrapper {
        width: 300px;
        color: blue;
        /*background-color: #5577ff;*/
        background-color: #1c3f94;
        margin: 0px 0px 20px 0px;
        display:inline-block;
    }
}
