<template name="asideNav">
    <div class="{{styles.asideNavWrapper}}">
      <div class="{{styles.title}}" align="center">Filter</div>
      <div class="{{styles.filterMain}}">
        <div class="{{styles.filterContent}}">UNIVERSITY/COLLEGE</div>
        <div class="{{styles.filterContent}}">COURSE CATEGORY</div>
        <div class="{{styles.filterContent}}">COURSE NAME</div>
        <div class="{{styles.filterContent}}">EDUCATION LEVEL</div>
        <div class="{{styles.filterContent}}">LOCATION - CITY NEAR YOU</div>
        <div class="{{styles.filterContent}}">COURSE PRICE RANGE</div>
        <div class="{{styles.filterContent}}">UNIVERSITY RATING</div>
      </div>
      <div class="{{styles.btnSearch}}" align="center">
        SEARCH
      </div>
    </div>
</template>
