.asideNavWrapper {
    display: none;
    border-radius: 2% 2% 0 0;
}

.asideNavWrapper input,
.asideNavWrapper select {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.title {
    color: white;
    padding: 5px 0px 5px 0px;
    font-weight: 500;
}

.filterMainContainer {
    background-color: #EFEFEF;
}

.filterContent {
    padding: 0.6rem 1rem 0;
    color: #1E3E93;
    font-family: inherit;
    font-weight: 600;
    font-size: smaller;
}

.filterContent:last-child {
    padding-bottom: 0.6rem;
}

.btnSearch {
    composes: color-deep-yellow from "../../style.css";
    color: #69684A;
    padding: 1em 0;
    font-weight: 600;
}

input[type="submit"].btnSearch {
    width: 100%;
}

:global .bootstrap-tagsinput {
    width: 100%;
}

:global .tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

:global .tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

:global .tt-suggestion:hover {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

:global .tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

@media screen and (min-width:850px) {
    .asideNavWrapper {
        composes: color-deep-blue from "../../style.css";
        width: 300px;
        color: blue;
        background-color: #1c3f94;
        margin: 0px 0px 20px 0px;
        display: inline-block;
    }
    .buttonGroup {
        display: flex;
        flex-wrap: wrap;
    }
    .buttonGroup button.btnDeliveryMode {
        margin: 5px 0px 5px 5%;
        padding: .5rem .5rem;
    }
    .buttonGroup button {
        margin: 5px 0px 5px 5%;
        padding: .5rem .5rem;
    }
    .buttonGroup button:nth-child(3n+1) {
        margin-left: 0px;
    }
}