.picture {
    max-width: 250px;
    background-color: #DDDDDD;
}
.pictureSize{
  max-width: 250px;
  max-height: 250px;
  vertical-align: center;
  position: relative;
}

.detail {
    padding: 10px;
    min-width: 250px;
    background-color: #EFEFEF;
}
.columnSize{
  width: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.listContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    composes: bottomSpacing from "../../../style.css";
}

.subList {
    display: flex;
    flex-direction: row;
}

.icon {
    min-width: 40px;
}

.courseName {
    color: #1A4093;
    font-size: larger;
    font-weight: 600;
}

.displayLabel {
    composes: font from "../../../style.css";
}

.rating {
    composes: bottomSpacing from "../../../style.css";
}
.checkPoint{
  position: absolute; 
  z-index: 1;
}
