.tr{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.tdLabel{
  padding:2px 10px;
  font-weight: bold;
  width: 250px;
  min-width: 80px;
}
.right{
  float: right;
}
.topBorder{
  margin-top: 20px;
}
.btnRegister{
  composes: btn from "../style.css";
  composes: btn-green from "../style.css";
  composes: redirect-to-add from "../style.css";
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  border: 0px;
}
