<template name="header">
    <div class="{{styles.headerWrapper}}">
        <div class="{{styles.topLayerContainer}}">
            <img src="/images/logo.png" alt="Jobstreet Education"/>
            <div>
                <a href="#" class="{{styles.btnSearch}}" id="ExpInterest" name="{{id}}">
                    <span>search</span>
                </a>
                {{> signInSystem}}
            </div>
        </div>
        <div class="{{styles.nav}}">
            <nav>
                <a href=#>Online Courses</a>
                <a href=#>Part-Time Courses</a>
                <a href=#>Courses by Area</a>
                <a href=#>Why Jobstreet Education?</a>
            </nav>
        </div>
        <!--div class="{{styles.advWrapper}}">
            <h1>Title</h1>
        </div-->
    </div>
</template>
<template name="signInSystem">
    <div>
        Hello, guest! (<a href="" name="linkLogin" id="btnLogin">login</a>)
    </div>
</template>
