<template name="header">
    <div class="{{styles.headerWrapper}}">
        <div class="{{styles.topLayerContainer}}">
            <img src="/images/logo.png" alt="Jobstreet Education"/>
            <div class="{{styles.rightCorner}}">
                <div class="{{styles.rightCorner}}">
                    <a href="#" class="{{styles.btnSearch}}" id="ExpInterest" name="{{id}}">
                        <span>search</span>
                    </a>
                </div>
                {{> signInSystem}}
            </div>
        </div>
        <div class="{{styles.nav}}">
            <nav>
                <a href=#>Online Courses</a>
                <a href=#>Part-Time Courses</a>
                <a href=#>Courses by Area</a>
                <a href=#>Why Jobstreet Education?</a>
            </nav>
        </div>
        <!--div class="{{styles.advWrapper}}">
            <h1>Title</h1>
        </div-->
    </div>
</template>
<template name="signInSystem">
    <div style="display: inline-table;">
        {{#with isGuest}}
            <div class="dropdown">
                Hi,<a id="mt-command-dd" class="dropdown-toggle" data-toggle="dropdown"> {{firstName}} <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation">
                        <a class="urlRedirect" role="menuitem" tabindex="-1" id="config-request-command" href="{{pathFor route='register'}}">My Enquiries</a>
                    </li>
                    <li role="presentation">
                        <a class="urlRedirect" role="menuitem" tabindex="-1" href="{{pathFor route='register'}}">Account Setting</a>
                    </li>
                    <li role="presentation">
                        <a class="urlRedirect logout" role="menuitem" tabindex="-1" href="#">Sign Out</a>
                    </li>
                </ul>
            </div>
        {{else}}
            <a href="" name="linkLogin" id="btnLogin">Login | Register</a>
        {{/with}}
    </div>
</template>
