<template name="footer">
    <div class="{{styles.footerWrapper}}">
        <div class="{{styles.row1}}">
            <div class="{{styles.order1}}"> 
             <img src="/images/JS-ED-LOGO-with-tagline-WHITE-v4.png" alt="Jobstreet Education" />
            </div>
            <div class="{{styles.order2}}">
                url link
            </div>
        </div>
        <div class="{{styles.row2}}">
            <div class="{{styles.order3}}">
                partner link
            </div>
            <div class="{{styles.order4}}">
                Copyright &copy; 2016 JobStreet Education Sdn Bhd
            </div>
        </div>
    </div>
</template>