<template name="comparisonAside">
    <div class="{{styles.asideNavWrapper}}">
        <div class="{{styles.tabs}}">
            <div id="{{styles.tabContent1}}" class="{{styles.tabContent}}">
                <div class="{{styles.title}}" align="center">Comparison</div>
                <div class="{{styles.filterMainContainer}}">
                    <div>Qualification</div>
                    <div>Provider</div>
                    <div>Study Mode</div>
                    <div>Delivery Mode</div>
                    <div>Course Duration</div>
                    <div>Location</div>
                    <div>Intake</div>
                    <div>Career Outcome</div>
                </div>
            </div>
        </div>
    </div>
</template>
