.tr{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.tdLabel{
  padding:2px 10px;
  font-weight: bold;
  width: 120px;
  min-width: 80px;
}
.right{
  float: right;
}
.topBorder{
  margin-top: 10px;
}
